body {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
}

.active {
    background-color: #4CAF50;
}
.image{
  margin-left: 400px;
  margin-top: 50px;

}
.h1-standard{
  margin: 150px 0 100px 150px;
}
.p-home{
  text-align: center;
  max-width: 1200px;
  margin-left: 100px;

}
